@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 9 9 11;
  }
  
  .dark {
    --background: 9 9 11;
    --foreground: 250 250 250;
  }

  body {
    @apply transition-colors duration-300 antialiased;
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}

@layer components {
  .glass {
    @apply bg-white/70 dark:bg-zinc-900/70 backdrop-blur-md border border-white/20 dark:border-zinc-800/20;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-50 dark:bg-zinc-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-zinc-800 rounded-full border-4 border-solid border-gray-50 dark:border-zinc-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-zinc-700;
}